# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables & Secrets (Critical)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Expo & Web Builds
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & Keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
/ios
/android

# Metro & Bundler
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS Generated
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Templates / Examples
app-example/