# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv/
venv/
__pycache__/
*.pyc

# Env files
.env
.env.*
*.env

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# Expo / React Native
.expo/
.expo-shared/

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store


serviceAccountKey.json
*serviceAccountKey*.json
backend/serviceAccountKey.json